#bg svg::before {
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}
body {
    background: radial-gradient(hsla(0, 0%, 29%, 1), hsla(0, 0%, 21%, 1), black);
}
body .demo-blog {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.plugins {
    max-width: 900px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.custom-header {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 24px;
    padding-right: 24px;
}

.demo-blog.mdl-layout .mdl-layout__content {
    /* padding-top: 230px; */
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.demo-blog .mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 150px;
}
.demo-blog .mdl-card__title {
    padding: 16px;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.mdl-card {
    background-color: #252525;
}
.mdl-button,
.mdl-card__media {
    background-color: hsla(240, 0%, 28%, 1) !important;
}
.mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.mdl-card__media h4 {
    margin: 0;
}
.mdl-card__buttons {
    padding: 16px;
}
.mdl-card__buttons button {
    margin-right: 10px;
}

.mdl-card__supporting-text {
    color: white;
}
.sub-text {
    font-size: 13px;
    padding-bottom: 0;
}

#donate {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

/* Fixes for IE 10 */
.mdl-grid {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.social-btn {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.46;
    border-radius: 2px;
}
.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
}
.social-btn__blogger {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png');
}
.social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png');
}
.social-btn__share {
    color: rgba(0, 0, 0, 0.54);
    background: transparent;
}

.demo-blog .mdl-mini-footer {
    margin-top: 80px;
    height: 120px;
    padding: 40px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
